@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

.info_back{
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.info_back, .info_text{
  display: none;
}

.info_text{
  position: fixed;
  width: 50vw;
  height: 50vw;
  overflow: scroll;
}

.info button{
  top: 0;
  left: 0;
}

.info{
  width: 100%;
  height: 100%;
}

.menu{
  display: flex;
  flex-direction: row;
  /* height: 2em; */
  /* background-color: white; */
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.menu a{
  text-decoration: none;
  color: black;
}

.menu-item{
  margin-right: 1em;
  margin-left: 1em;
  margin-top: 1em;
  font-size: 1.5em;
  font-family: 'Inter', sans-serif;
}

.swiper{
  position: fixed;
  width: 100vw;
  margin: 0;
  left: 0;
  top: 5em;
  height: calc(100vh - 13em);
  z-index: -100;
}

.textwrapper{
  margin-left: 23vw;
  margin-right: 25vw;
  font-size: 1.1em;
  font-family: Optima;
}

.textwrapperCN{
  margin-left: 23vw;
  margin-right: 25vw;
  font-size: 1.1em;
  font-family: STXihei;
}

.about, .aboutCN, .contact{
  margin-top: 14vh;
}

.education, .solo, .group,.educationCN,.soloCN{
  margin-top: 8vh;
}

.groupCN{
  margin-top: 8vh;
  margin-bottom: 20vh;
}

.active a{
  text-decoration: underline;
  transition-duration: 0.5s;
}



.swiper-wrapper figure{
  height: 100%;
  width: 100%;
  margin: 0;
}

.swiper-wrapper img{
  object-fit: contain;
  height: 100%;
  width: 100%;
}
