@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

.info_back{
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.info_back, .info_text{
  display: none;
}

.info_text{
  position: fixed;
  width: 50vw;
  height: 50vw;
  overflow: scroll;
}

.info button{
  top: 0;
  left: 0;
}

.info{
  width: 100%;
  height: 100%;
}

.menu{
  display: flex;
  flex-direction: row;
  /* height: 2em; */
  /* background-color: white; */
  width: 100vw;
  overflow-x: scroll;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.menu a{
  text-decoration: none;
  color: black;
}

.menu-item{
  margin-right: 1em;
  margin-left: 1em;
  margin-top: 1em;
  font-size: 1.5em;
  font-family: 'Inter', sans-serif;
  white-space: nowrap;
}

.swiper{
  position: fixed!important;
  width: 100vw;
  margin: 0;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: -100;
}

.textwrapper{
  margin-left: 23vw;
  margin-right: 25vw;
  font-size: 1.1em;
  font-family: Optima;
}

.textwrapperCN{
  margin-left: 23vw;
  margin-right: 25vw;
  font-size: 1.1em;
  font-family: STXihei;
}

.about, .aboutCN, .contact{
  margin-top: 14vh;
}

.education, .solo, .group,.educationCN,.soloCN{
  margin-top: 8vh;
}

.groupCN{
  margin-top: 8vh;
  margin-bottom: 20vh;
}

.active a{
  text-decoration: underline;
  transition-duration: 0.5s;
}

.swiper-button-next{
  position: fixed!important;
  right: 2em!important;
}

.swiper-button-prev{
  position: fixed!important;
  left: 2em!important;
}

.swiper-button-next svg:hover{
  fill: black;
  transition-duration: 0.5s;
}

.swiper-button-prev svg:hover{
  fill: black;
  transition-duration: 0.5s;
}

.swiper-button-next svg, .swiper-button-prev svg{
  fill: #ffffff;
  transition-duration: 0.5s;
}

.swiper-button-next::after{
  display: none;
}

.swiper-button-prev::after{
  display: none;
}

.swiper-wrapper figure{
  height: 100%;
  width: 100%;
  margin: 0;
}

.swiper-wrapper img{
  object-fit: contain;
  height: 100%;
  width: 100%;
  margin-top: 6em;
  height: calc(100vh - 13em);
}

.info p{
  font-family: Optima;
  border: 1px solid black;
  width: max-content;
  position: fixed;
  bottom: 2em;
  right: 2em;
  padding: 0 0.5em 0 0.5em;
  z-index: 200;
  background-color: white;
}
